/* TYPOGRAPHY */
.books-section-title {
    margin: 0;
    margin-bottom: 2rem;
    margin-top: 2rem;
    line-height: 2.5rem;
    font-size: 2em;
    color: var(--dark-pink);
    text-decoration: underline;
}

h4 {
    padding: 2rem 2rem;
    font-size: 1.5em;
    font-weight: 300;
    margin: 0;
    font-weight: 400;
    font-style: italic;
}

.book time {
    margin-top: 2rem;
}

.book-image {
    display: block;
    height: 300px;
    margin: 0 auto;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 1px 5px 10px;
    transition: all .2s ease-in-out;
}

/* LAYOUT */

.books {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: .9rem;
}

.book {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 3rem;
}

.book-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 2rem;
}

.book-image:hover {
    transform: scale(1.01);
    cursor: pointer;
    box-shadow: 5px 5px 25px;

}

@media (min-width: 800px) {

    h4 {
        letter-spacing: 1px;
        font-size: 1.2em;
    }

    .book time {
        margin-top: 1rem;
    }

    .book-wrapper h1 {
        margin-top: 0;
    }

    .book-image {
        width: 200px;
        height: 300px;
        max-width: 100%;
    }

    .book-wrapper {
        flex-direction: row;
        justify-content: space-between;
    }

    .book {
        margin: 0 .5rem;
        width: 25%;
    }

    .book-title {
        margin: 0;
        align-self: center;
    }

}

@media (max-width: 1100px) {
    .book-image {
        width: 100%;
        /* height: ; */
    }
}