/* Creating the cloud layout */
.cloud {
    background-color: white;
    width: 200px;
    height: 80px;
    padding: 1rem 3rem;
    border-radius: 150px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.2);
    animation: cloudFloat 5s infinite;
    cursor: pointer;
}

.cloud::after {
    content: '';
    background-color: white;
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    top: -50px;
    left: 120px;
    z-index: -100;
}

.cloud::before {
    content: '';
    background-color: white;
    position: absolute;
    width: 120px;
    height: 100px;
    border-radius: 50%;
    top: -50px;
    left: 50px;
    z-index: -100;
}

.cloud-text-wrapper {
    max-width: 100%;
    max-height: 50px;
    padding: .5em;
    border-radius: 20px;
    background-color: #FFFF;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: max-height 2s ease-in-out;
}

.cloud-container {
    margin-top: 5em;
    display: flex;
    justify-content: center;
    position: relative;
    transition: all .2s ease-in-out;
}

.cloud-text-wrapper:hover,
.cloud-text-wrapper:focus {
    max-height: 5000px;
    max-width: 5000px;
}


.cloud-container:hover,
.cloud-container:focus {
    transform: scale(1.5) translateY(-20px);
    z-index: 1;
}

.hidden {
    display: none;
}

.expended {
    position: absolute;
    width: 200px;
    height: 0;
    background-color: #FFFF;
    padding: 1rem;
    border-radius: 20%;
    overflow: hidden;
    transform: translateY(-250px);
}

/* MEDIA QUERIES */
@media (min-width: 675px) {

    .cloud-text-wrapper:hover,
    .cloud-text-wrapper:focus {
        max-height: 50px;
    }
}

/* CLOUD FLOAT ANIMATION */
@keyframes cloudFloat {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-20px);
    }
}