/* TYPOGRAPGY - CONCEPTS PAGE */

.concepts-text,
.yoga-list-item {
    line-height: 2rem;
}

.concepts-title {
    text-decoration: underline;
}

strong {
    font-weight: 700;
    font-size: 1.2em
}

/* LAYOUT - CONCEPTS PAGE */

.concepts-container {
    border-radius: 6px;
    margin-bottom: 5rem;
    padding: 0 2rem 2rem 2rem;
    border: 1px solid var(--brown);
    animation: reveal .4s ease;
}

.yoga-list {
    max-width: 400px;
    margin: 2rem auto;
}

.concepts {
    max-width: 700px;
    margin: 0 auto;
}