.contact {
    position: fixed;
    width: 60px;
    height: 60px;
    top: 0;
    right: 5rem;
    margin-top: .9rem;
    background-color: rgba(73, 181, 104);
    filter: blur(0);
    color: #FFFF;
    padding: 1rem;
    border-radius: 50%;
    animation: float 4s infinite;
    z-index: 10000000;
    cursor: pointer;
    transition: box-shadow .2s ease, filter .2s ease, background-color .3s ease;
}

.contact:hover,
.contact:focus,
.contact-icon:hover,
.contact-icon:focus {
    animation-play-state: paused;
}

.contact-icon:hover,
.contact-icon:focus {
    background-color: rgba(73, 181, 104, .8);
    filter: blur(1px);
}

.contact-icon {
    font-size: 1.8em;
}

@media (min-width: 675px) {
    .contact {
        position: fixed;
        right: 1rem;
    }

    .contact-icon {
        font-size: 2em;
    }
}