.contact {
    position: fixed;
    top: 0;
    left: 50%;
    margin-top: .9rem;
    background-color: rgba(73, 181, 104);
    filter: blur(0);
    color: #FFFF;
    padding: 1rem;
    border-radius: 50%;
    animation: float 4s infinite;
    z-index: 10000000;
    cursor: pointer;
    transition: box-shadow .2s ease, filter .2s ease, background-color .3s ease;
}

.contact:hover,
.contact:focus {
    animation-play-state: paused;
    background-color: rgba(73, 181, 104, .8);
    filter: blur(1px);
}

.contact-icon {
    font-size: 2em;
}

@media (min-width: 675px) {
    .contact {
        left: auto;
        right: 1rem;
    }
}