h1 {
    font-size: 1.4rem;
    padding-top: .5em;
}

@media (min-width: 675px) {
    h1 {
        font-size: 2em;
    }
}

.guidence {
    max-width: 700px;
    margin: 0 auto;
}

.main-guidence-text {
    font-size: 1em;
    margin: 2rem 0;
    letter-spacing: 1px;
    line-height: 1.5em;
}

.small-text {
    font-weight: 700;
    font-size: 1.1em;
    text-align: right;
}

.bold {
    font-size: 2.5rem;
}


.alert {
    padding: 1rem 2rem;
    border-radius: 6px;
    margin-bottom: 2rem;
}

.alert-text {
    border: 1px solid #e2e2e2;
    padding: 1rem 2rem;
    margin: 1rem 0;
    border-radius: 6px;
    font-weight: 500;
}