/*============================
    navigation styles 
  ============================
*/

:root {
    --light-blue: #B9E6FF;
    /* creating variables for convinence */
    --dark-blue: #5C95FF;
    --dark-pink: #F87575;
    --light-pink: #FFA9A3;
    --brown: #7E6C6C;
    --light-black: #393939;
}

img {
    width: 100%;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    width: 100%;
    background-color: var(--light-blue);
    position: fixed;
    box-shadow: 1px 1px 15px;
}

.move-out-view {
    transform: translateX(-700px);
}

.slide-in {
    transform: translateX(0);
    transition: all .2s ease-in-out;
}

.slide-out {
    transform: translateX(-700px);
    transition: all .2s ease-in-out;
}

.navigation-logo {
    width: 60px;
    padding: .5em;
    order: 1;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.navigation-logo:hover {
    transform: rotateZ(-45deg) scale(1.1);
}

.navigation-bar {
    font-size: 1.5em;
    display: block;
    padding: 0 1em;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.navigation-bar:hover {
    transform: scale(1.1);
}

.navigation-list {
    display: none;
}

.navigation-item:hover,
.navigation-item:focus {
    background-color: var(--dark-blue);
    cursor: pointer;
}

/* when the viewport reaches minimum of 675px
    then these styles will apply, this section allows
    the application to become responsive
*/
@media screen and (min-width: 675px) {

    body {
        font-size: 14px;
    }

    .navigation {
        min-height: 100vh;
        flex-direction: column;
        width: 20%;
        text-align: center;
        background-color: var(--light-blue);
        justify-content: flex-start;
    }

    .navigation-item {
        line-height: 1.2rem;
        padding: 1.2em;
        list-style: none;
        width: 100%;
    }

    @media (max-width: 1000px) {
        .navigation-item {
            padding: 1em;
        }
    }

    .navigation-logo {
        width: 60%;
        aspect-ratio: 1;
        order: -1;
    }

    .navigation-list {
        margin-top: 1rem;
        display: block;
    }

    .navigation-bar {
        display: none;
    }
}

.nav-item-wrapper {
    width: 100%;
    height: 100vh;
    background-color: #FFF;
}

.nav-list-mobile {
    position: absolute;
    top: 0;
    width: 100%;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--light-blue);
    text-align: center;
}

.nav-list-mobile:last-child {
    padding-bottom: 10rem;
}

.nav-item-mobile {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 1.5rem;
    cursor: pointer;
    font-size: 1.2rem;
}

.nav-item-mobile:hover,
.nav-item-mobile:focus {
    background-color: var(--dark-blue);
}

.close-nav {
    font-size: 3rem;
    width: fit-content;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.close-nav:hover {
    transform: scale(0.9);
    transform: rotateZ(90deg);
}