

.item {
    padding-top: 80px;
    width: 80%;
    display: block;
    margin: 0 auto;
    color: #393939;
    white-space: pre-wrap;
    text-align: right;
}

.item-title{
    font-size: 1.5rem;
}

.item-main-text {
    margin: 3rem 0;
    font-size: 1.2em;
    line-height: 2em;
}

.item-list {
    list-style-type: none;
}

.item-list li {
    padding: 1rem 0;
    font-size: 1.2rem;
    letter-spacing: .2rem;
}