.container {
    background: none;
}

.item {
    padding-top: 80px;
    width: 90%;
    display: block;
    margin: 0 auto;
    color: #393939;
    white-space: pre-wrap;
    text-align: center;
}

@media (min-width: 675px) {
    .item {
        padding-top: 20px;
    }
}

.item-title {
    font-size: 1.5rem;
    text-decoration: underline;
    color: var(--dark-pink)
}

.item-main-text {
    margin: 3rem 0;
    line-height: 2em;
}

.item-list {
    list-style-type: none;
}

.item-list li {
    padding: 1rem 0;
    letter-spacing: 1px;
}

@media (min-width: 675px) {
    .item {
        font-size: 1.2em;
    }
}