* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#root {
  width: 100%;
  color: var(--light-black);
  position: relative;
}

@media (min-width: 675px) {
  body {
    font-size: 14px;
  }
}

body {
  font-family: 'Open Sans';
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}